.footer {
  padding: 24px 16px;
width: 320px;
background: var(--color-scheme-2-background);
font-family: "Quicksand", sans-serif;
text-align: center;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo img {
  width: 196px;
height:auto;
}
.footer-nav {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap:32px; 
  align-items: center;

}
.footer-nav a {
  position: relative;
  text-decoration: none;
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--color-scheme-1-text);
transition: color 0.3s;

}
.footer-nav a::before{
  content: '';
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 24%;
  background-color: #41d1ff;
  transition: 200ms ease;
}
.footer-nav a:hover::before {
  background-color: #ff7f50;
}
.footer-nav a:hover {
  color: #fff;
}
.footer-socials{
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 0;
  justify-content: center;
}
.footer-copy {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: var(--color-scheme-1-text);
}
